<div>
    <form>
        Name: <input type="search" ng-model="name"><br>
        Street: <input type="search" ng-model="street"><br>
        City: <input type="search" ng-model="city"><br>
        State: <input type="search" ng-model="state"><br>
        Zip: <input type="search" ng-model="zip"><br>
        Phone: <input type="search" ng-model="phone"><br>
        <input type="submit" ng-click="saveAddress(name, street, city, state, zip, phone)"><br>
    </form>
    <table>
        <thead>
            <th>Name</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Phone</th>
        </thead>
        <tbody>
            <tr ng-repeat="address in addresses">
                <td>{{address.name}}</td>
                <td>{{address.street}}</td>
                <td>{{address.city}}</td>
                <td>{{address.state}}</td>
                <td>{{address.zip}}</td>
                <td>{{address.phone}}</td>
            </tr>
        </tbody>
    </table>
</div>